.wall {
  width: 500px;
}

.layer-green {
  background: green;
  width: 100%;
}

.layer-red {
  background: red;
  width: 100%;
}

.layer-yellow {
  background: yellow;
  width: 100%;
}

.layer-blue {
  background: blue;
  width: 100%;
}
