@import "../../../variables.scss";

.carousel {
  height: 100%;
  width: 100%;
}

.carouselWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;

  .carouselArrowLeft {
    height: 100%;
    margin-left: $margin-sm;

    @media (max-width: $layout-breakpoint-tablet) {
      margin: 0px;
    }
  }

  .carouselArrowRight {
    height: 100%;
    margin-right: $margin-sm;

    @media (max-width: $layout-breakpoint-tablet) {
      margin: 0px;
    }
  }

  .carouselArrow:hover {
    background-color: $logo-secondary-background;
    height: 100%;
  }

  .carouselBody {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
  }

  .carouselItem-wrapper {
    flex: 0 0 33.333%;
    height: 100%;
    transition: translate 300ms ease-in-out;

    @media (max-width: $layout-breakpoint-tablet) {
      flex: 0 0 50%;
    }

    @media (max-width: $layout-breakpoint-mobile) {
      flex: 0 0 100%;
    }
  }

  .carouselItem {
    display: flex;
    height: 100%;
    border-radius: 20px;
    padding: 13px;

    img {
      border-radius: 20px 20px 0px 0px;
    }

    h3 {
      padding: 7px;
    }

    p {
      margin: 0px;
      padding: 7px;
    }

    @media (max-width: $layout-breakpoint-mobile) {
      padding: 3px;
    }
  }
}

.carouselFooter {
  display: flex;
  justify-content: center;

  & > button {
    margin: 3px;
  }
}
