@import "../../variables.scss";

.scop {
  height: 60dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  p {
    margin-top: 7px;
    width: 50dvw;
    text-align: center;

    @media (max-width: $layout-breakpoint-mobile) {
      width: 90dvw;
    }
  }

  h2 {
    margin-bottom: 0px;
  }

  &::after {
    content: "";
    width: 100px;
    height: 50px;
    display: block;
    position: absolute;
    left: 50%;
    bottom: 20dvh;
    transform: translate(-50%, -50%);
    background: $logo-primary;
    filter: blur(60px);
    z-index: -1;
  }
}

.negative-curvature {
  position: relative;
  width: 100%;
  height: 40dvh;
  background: $background;
  overflow: hidden;
  z-index: -1;
  display: flex;
  justify-content: center;
  color: $white;

  &::before {
    content: "";
    position: absolute;

    bottom: -20px;
    background-color: $white;
    border-radius: 60% / 50% 50% 0 0;
    height: 100px;
    width: 100%;
    box-shadow: inset 0 6px 10px -6px $black;
  }

  h2 {
    padding-top: 3rem;
  }
}

.beneficii {
  height: 60dvh;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-items: center;
  background: linear-gradient(
    to bottom,
    transparent,
    rgb(98, 121, 224, 0.15),
    transparent
  );
}

.pozitii {
  height: 60dvh;
  display: flex;
  align-items: center;
  justify-content: center;
}
