.select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus {
    border-color: #3498db;
  }

  /* Remove default arrow icon in Firefox */
  &::-moz-focus-inner {
    border: 0;
  }

  /* Customize the appearance of the dropdown arrow */
  &::after {
    content: "▼"; /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
