@import "../../../variables.scss";

.select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid $secondary;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  width: 100%;

  &:hover,
  &:focus {
    border-color: $logo-primary;
  }

  &::after {
    content: "▼"; /* Unicode character for a downward-pointing triangle */
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
  }
}
