@import "../../variables.scss";

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
}

.grid-main {
  grid-area: main;
  margin-top: 76px;
}
