@import "../../variables.scss";

body {
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto; /* Header, Main, Footer */
}

.grid-footer {
  grid-area: footer;
  margin: 5px 13px;
  padding-left: 13px;
  border-top: 1px solid $primary;
}

.grid-main {
  grid-area: main;
  margin-top: 76px;
}
