@import "../../variables.scss";

.grid-header {
  grid-area: header;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  padding: 13px;
  background: linear-gradient(to right, #360b7b 0%, #003a9c 100%);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-routes {
  display: none;

  &.open {
    display: flex;
    position: fixed;
    padding: 12px;
    right: 0;
    top: 76px;
    background: #003a9c;
    flex-direction: column;
    min-width: 250px;
    height: 100vh;

    button {
      width: 100%;
      text-align: start;
      display: inline-block;
      border-bottom: 1px solid $white;
      margin-top: 7px;

      &:last-child {
        border-bottom: 0px;
      }

      &:hover {
        font-size: large;
        transition-timing-function: ease;
        transition-duration: 0.5s;
      }
    }
  }

  @media (min-width: $layout-breakpoint-small) {
    display: flex;
    min-width: 630px;
    justify-content: space-between;
  }
}

.navbar-button {
  display: block;

  @media (min-width: $layout-breakpoint-small) {
    display: none;
  }
}

.nav-link {
  text-decoration: none;
  color: $white;
  padding-bottom: 2px;

  @media (min-width: $layout-breakpoint-small) {
    &:hover {
      border-bottom: 3px groove $white;
      font-size: large;
      transition-timing-function: ease;
      transition-duration: 0.5s;
    }
  }
}
