@import "../../../variables.scss";

.divider {
  width: 100%;
  height: 1px;
  background-color: $dark-gray;

  &.vertical {
    width: 1px;
    height: 100%;

    &.strong {
      width: 3px;
    }
  }

  &.strong {
    height: 3px;
  }
}
