@import "./variables.scss";

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
}

.text-secondary {
  color: $secondary;
}

.text-facebook-blue {
  color: $facebook-blue;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-black {
  color: $black;
}

.text-link {
  text-decoration: none;
}

/* Margin Utilities */
.mt-xs {
  margin-top: 0.5rem;
}

.mr-xs {
  margin-right: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.5rem;
}

.ml-xs {
  margin-left: 0.5rem;
}

.mt-sm {
  margin-top: 1rem;
}

.mr-sm {
  margin-right: 1rem;
}

.mb-sm {
  margin-bottom: 1rem;
}

.ml-sm {
  margin-left: 1rem;
}

.mt-md {
  margin-top: 1.5rem;
}

.mr-md {
  margin-right: 1.5rem;
}

.mb-md {
  margin-bottom: 1.5rem;
}

.ml-md {
  margin-left: 1.5rem;
}

.mt-lg {
  margin-top: 2rem;
}

.mr-lg {
  margin-right: 2rem;
}

.mb-lg {
  margin-bottom: 2rem;
}

.ml-lg {
  margin-left: 2rem;
}
