@import "./variables.scss";

.text-primary {
  color: $primary;
}

.text-danger {
  color: $danger;
}

.text-secondary {
  color: $secondary;
}

.text-facebook-blue {
  color: $facebook-blue;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-black {
  color: $black;
}

.text-white {
  color: $white;
}

.text-logo-primary {
  color: $logo-primary;
}

.text-logo-secondary {
  color: $logo-secondary;
}

.text-link {
  text-decoration: none;
}

/* Margin Utilities */
.m-xs {
  margin: $margin-xs;
}

.mx-xs {
  margin-right: $margin-xs;
  margin-left: $margin-xs;
}

.my-xs {
  margin-top: $margin-xs;
  margin-bottom: $margin-xs;
}

.mt-xs {
  margin-top: $margin-xs;
}

.mr-xs {
  margin-right: $margin-xs;
}

.mb-xs {
  margin-bottom: $margin-xs;
}

.ml-xs {
  margin-left: $margin-xs;
}

.m-sm {
  margin: $margin-sm;
}

.mx-sm {
  margin-right: $margin-sm;
  margin-left: $margin-sm;
}

.my-sm {
  margin-top: $margin-sm;
  margin-bottom: $margin-sm;
}

.mt-sm {
  margin-top: $margin-sm;
}

.mr-sm {
  margin-right: $margin-sm;
}

.mb-sm {
  margin-bottom: $margin-sm;
}

.ml-sm {
  margin-left: $margin-sm;
}

.m-md {
  margin: $margin-md;
}

.mt-md {
  margin-top: $margin-md;
}

.mr-md {
  margin-right: $margin-md;
}

.mb-md {
  margin-bottom: $margin-md;
}

.ml-md {
  margin-left: $margin-md;
}

.m-lg {
  margin: $margin-lg;
}

.mt-lg {
  margin-top: $margin-lg;
}

.mr-lg {
  margin-right: $margin-lg;
}

.mb-lg {
  margin-bottom: $margin-lg;
}

.ml-lg {
  margin-left: $margin-lg;
}
