$primary: #ff5722;
$danger: red;
$secondary: #ccc;
$facebook-blue: #0866ff;
$dark-gray: #666a71;
$black: black;
$white: white;
$logo-primary: #6279e0;
$logo-secondary: #2dcbde;

$background: linear-gradient(to right, #360b7b 0%, #003a9c 100%);
$logo-secondary-background: #2dcbde0c;

$layout-breakpoint-tablet: 960px;
$layout-breakpoint-mobile: 680px;

$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 1.5rem;
$margin-lg: 2rem;
