$primary: #ff5722;
$danger: red;
$secondary: #c7cbd1;
$facebook-blue: #0866ff;
$dark-gray: #666a71;
$black: black;
$white: white;

$background: linear-gradient(to right, #360b7b 0%, #003a9c 100%);

$layout-breakpoint-small: 960px;
